.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

.header {
    width: 1440px;
    height: 72px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-logo {
    color: #2e2f42;
}

.web-logo {
    color: #4d5ae5;
}

.header-list {
    list-style: none;
}

.link-in-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-in-header:hover {
    color: #404bbf;
}

.link-in-header:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-class {
    list-style: none;
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf; 
}

.section-one-css {
    background-color: #2e2f42;
    box-sizing: inherit;
}


.head-one-css {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    padding: 188px 472px 292px 472px;
    
}

.button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}



.head-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-list {
    list-style: none;
    width: 1128px;
}

.section-two-css {
    width: 1128px;
    height: 104px;

}

.list-second-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-one-css {
    width: 1440px;
    height: 600px;
    margin-top: 72px;
}

.section-third-css {
    background-color: #f4f4fd;
    width: 1440px;
    height: 732px;
}

.section-third-list {
    list-style: none;
}

.head-section-third {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.listitem {
    background-color: white;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.head-fourth {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-fourth-list {
    list-style: none;
}

.section-fourth-css {
    width: 1128px;
    height: 1000px;
}

.name-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description-second {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 1440px;
    height: 312px;
}

.p-footer {
    color:#f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.studio-logo-footer {
    color: #f4f4fd;
}